<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>beauty-advisor-web</title>
  <script>
    var dataLayer = dataLayer || [];
    dataLayer.push({
      domain: "ebeauty.nivea.bg",
      pageCountry: "BG",
      pageLanguage: "BG-BG",
      pageNameVirtual: "/",
      template: "Home Page",
      trafficSource: 'https://ebeauty.nivea.bg',
      webPropertyIDLocal: "UA-44134481-5"
    });
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-M4PQ5NR');
  </script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4PQ5NR" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <noscript>
    <strong>We're sorry but beauty-advisor-web doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app">
    <span style="width:100%; font-size: 40px;padding:100px 40px; display:block; color:#24418b; text-align: center;">Приложението не се поддържа за InternetExplorer и MicrosoftEdge.</span>
  </div>
  <div class="landspace">
    <img src="<%= BASE_URL %>img/rotate.png" /><br />
    Моля завъртете устройството си в портретен изглед.
  </div>

</body>

</html>