<template>
  <div>
    <form-wizard id="ebeauty" :start-index="0" :class="isTablet?'tablet':'no-tablet'" ref="wizzard"
      @on-change="beforeTabSwitch">
      <tab-content>
        <div class="screen-1">
          <div class="legal">
            <div class="slogan">Открий най-подходящите продукти за теб</div>
            <div class="agreement">
              <div class="checkbox">
                <input type="checkbox" v-model="start" name="start" id="start">
                <label for="start" class="present">My Label</label>
              </div>
              <div class="legal-text">
                <span @click="showModalPorpose = true">
                  Запознат съм с <strong>Условията за обработване на
                  лични данни</strong> от Организатора, за целите на Приложението.
                </span>
              </div>
              <div class="asterix">*С натискане на бутон „Към теста“ декларирам, че имам навършени 18 години.</div>
            </div>

          </div>
        </div>
      </tab-content>
      <tab-content v-if="!isMobile">
        <first-questions :user-info="userinfo" @update="update"></first-questions>
      </tab-content>
      <tab-content v-if="!isMobile">
        <second-questions :user-info="userinfo" @update="update"></second-questions>
      </tab-content>
      <tab-content v-if="isMobile">
        <mobile-questions :user-info="userinfo" @update="update" :next="nextStep" v-if="isMobile"
          ref="mobile"></mobile-questions>
      </tab-content>
      <tab-content>
        <products-list :recomended="recomended"></products-list>
      </tab-content>
      <tab-content>
        <user-details :user-info="userinfo" @update="update"></user-details>
      </tab-content>
      <tab-content></tab-content>
      <template slot="footer" slot-scope="props">
        <div class="wizard-footer-left">
          <wizard-button v-if="props.activeTabIndex > 1 && !props.isLastStep & isMobile"
            @click.native="props.prevTab();">Назад</wizard-button>
          <wizard-button v-if="props.activeTabIndex > 0 && !props.isLastStep & !isMobile"
            @click.native="props.prevTab()"></wizard-button>
        </div>
        <div class="wizard-footer-right">
          <wizard-button v-if="props.activeTabIndex==0" @click.native="startApp(props)"
            class="start-button animated infinite tada">Към
            теста</wizard-button>
          <wizard-button v-if="props.activeTabIndex == 1 && !props.isLastStep && !isMobile"
            @click.native="props.nextTab()" class="wizard-footer-right"
            :style="props.fillButtonStyle" :disabled="!(userinfo.age && userinfo.skin_type )">
          </wizard-button>

          <wizard-button v-if="props.activeTabIndex == 2 && !props.isLastStep "
            @click.native="props.nextTab()" class="wizard-footer-right"
            :style="props.fillButtonStyle"
            :disabled="!(userinfo.cleanup.length && userinfo.makeup && userinfo.akne ) ">
          </wizard-button>

          <wizard-button v-if="props.activeTabIndex == 3 && !props.isLastStep "
            @click.native.stop="props.nextTab()" class="wizard-footer-right"
            :style="props.fillButtonStyle"></wizard-button>
          <wizard-button
            v-if="(props.activeTabIndex == 4 || (props.activeTabIndex == 3 && isMobile)) && !props.isLastStep"
            @click.native.stop="sendInformation(true)"
            class="wizard-footer-right send-button animated infinite pulse"
            :style="props.fillButtonStyle"></wizard-button>
          <wizard-button v-if="props.activeTabIndex == 4 && !props.isLastStep"
            @click.native="sendInformation(false)" class="wizard-footer-right"
            :style="props.fillButtonStyle"></wizard-button>
          <p class="info-msg" v-if="canshowSentError">Попълнете име и валиден имейл, за да изпратите
            данните.</p>
          <wizard-button v-if="props.activeTabIndex > 0 && props.isLastStep"
            @click.native="onComplete" class="wizard-footer-right finish-button">край
          </wizard-button>
        </div>
      </template>
    </form-wizard>
    <modal v-if="showloading" class="loading-modal">
      <h3 slot="header"></h3>
      <div slot="body"></div>
    </modal>
    <modal v-if="errorModal" @close="errorModal = false" class="trustModal">
      <h3 slot="header">Моля да отбележите съгласието си с условията за обработване на лични данни.
      </h3>
    </modal>
    <modal v-if="showModalPorpose" @close="showModalPorpose = false" class="trustModal">
      <h3 slot="header">УСЛОВИЯ ЗА ОБРАБОТВАНЕ НА ЛИЧНИ ДАННИ ЗА ЦЕЛИТЕ НА НАСТОЯЩОТО ПРИЛОЖЕНИЕ
      </h3>
      <div slot="body">
        <legal-text></legal-text>
      </div>
    </modal>
  </div>
</template>
<script>
  import products from "../assets/products.json";
  import firstQuestions from "../components/firstQuestions.vue";
  import mobileQuestions from "../components/MobileQuestions.vue";
  import secondQuestions from "../components/secondQuestions.vue";
  import productsList from "../components/productsList.vue";
  import userDetails from "../components/userDetails.vue";
  import legalText from "../components/legalText.vue";
  import modal from "../components/modal.vue";
  import axios from "axios";
  import {
    connect
  } from 'tls';

  export default {
    name: "Home",
    components: {
      firstQuestions,
      secondQuestions,
      mobileQuestions,
      productsList,
      userDetails,
      modal,
      legalText,
    },
    data() {
      return {
        userinfo: {
          age: null,
          skin_type: null,
          skin_tan: null,
          pores_visibility: null,
          wrinkles: null,
          skin_tightness: null,
          stains: null,
          akne: null,
          black_spots: null,
          makeup: null,
          cleanup: [],
          subscribtion: null,
          name: "Anonymous",
          email: null,
          purpose: null
        },
        showModalPorpose: false,
        errorModal: false,
        start: false,
        timeout: null,
        showloading: false,
        products_cleaning: products.cleaning,
        products_care: products.care,
        products_nightcare: products.nightcare,
        isTablet: null,
        canshowSentError: false,
      };
    },
    computed: {
      recomended() {
        var pos1 = this.getRecomended(this.products_cleaning);
        var pos2 = this.getRecomendedNightCare(this.products_nightcare);
        var pos3 = this.getRecomendedNightCare(this.products_care,pos2);
        return [
          pos1,
          pos2,
          pos3
        ];

      },
      isMobile() {
        return window.innerWidth < 1000 || window.innerHeight < 768;
      },
      validEmail() {
        const re =
          /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(this.userinfo.email);
      },

    },
    mounted() {
      document.addEventListener('click', (e) => {
        this.isTablet = window.venueName ? true : false;

      });
    },
    methods: {
      startApp(props) {
        if (this.start) {
          props.nextTab();
        } else {
          this.errorModal = true;
        }
      },
      nextStep() {
        this.$refs.wizzard.nextTab()
      },
      addDelay() {
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => {
          window.location.reload();
        }, 120000);
      },
      onComplete() {
        clearTimeout(this.timeout);
        this.showloading = true;
        window.location.reload();
      },
      beforeTabSwitch() {
        if(this.$refs.mobile){
          this.$refs.mobile.$refs.slick.reSlick();
        }

      },
      update(data) {
        this.userinfo = data;
        let elem = document.getElementsByName(Object.keys(this.userinfo)[Object.values(this
            .userinfo)
          .findIndex(e => e ==
            null)])[0];
      },
      getRecomendedNightCare(products, pos2) {
        if(pos2){
          console.log(pos2);
          if(pos2.title.includes('Q10')){
            products = products.filter(e=>!e.title.includes('Cellular'));
          }
           if(pos2.title.includes('Cellular')){
            products = products.filter(e=>!e.title.includes('Q10'));
          }
        }
        const recomended = [];
        let tempProducts = [];
        if (this.userinfo.age) {
          tempProducts = products.filter(e => {
            if (e.questions.age) {
              return e.questions.age.some(a => a == Number(this.userinfo.age));
            }
            return false;
          });
          if (tempProducts.length > 0) {
            products = tempProducts;
          }
        }

        products.forEach(element => {
          const weight = this.getWeight(element.questions);

          recomended.push({
            id: element.id,
            title: element.title,
            rank: element.rank,
            weight: weight < 0.9 ? this.getWeight(element.questions) : 1,
            buynow: element.buynow,
            subitem: element.subitem ? element.subitem : ""
          });
        });
        recomended.sort((a, b) => a.weight - b.weight);
        recomended.reverse();
        const bestoption = recomended[0].weight;
        const morerecomended = recomended.filter(e => e.weight == bestoption);

        morerecomended.sort(() => Math.random() - 0.5);
        const elem = morerecomended.pop();
        return elem;
      },
      getRecomended(products) {
        const recomended = [];
        products.forEach(element => {
          const weight = this.getWeight(element.questions);
          recomended.push({
            id: element.id,
            title: element.title,
            rank: element.rank,
            weight: weight < 0.9 ? this.getWeight(element.questions) : 1,
            buynow: element.buynow,
            subitem: element.subitem ? element.subitem : {}
          });
        });
        recomended.sort((a, b) => a.weight - b.weight);
        recomended.reverse();

        const bestoption = recomended[0].weight;
        const elem = recomended
          .filter(e => e.weight == bestoption)
          .sort((a, b) => a.rank - b.rank)
          .pop();

        return elem;
      },
      getWeight(questions) {
        let weight = 0;
        const ent = Object.entries(questions);

        ent.forEach(([key, value]) => {
          if (value == "all") {
            weight += 1 / ent.length;
          } else {
            var temp = value.some(el => {
                if (Array.isArray(this.userinfo[key])) {
                  return this.userinfo[key].includes(el.toString());
                } else {
                  return el == Number(this.userinfo[key]);
                }
              });
            if (
              temp
            ) {
              weight += 1 / ent.length;
            }
          }

        });
        return weight;
      },
      sendInformation(shouldSend) {
        if (shouldSend) {
          if (!(this.userinfo.name && this.validEmail && this.userinfo.purpose)) {
            this.canshowSentError = true;
            return
          } else {
            this.canshowSentError = false;
          }
        }

        let param = JSON.parse(JSON.stringify(this.userinfo));
        param.recomended = this.recomended;
        param.venue_name = window.venueName ? window.venueName : "online";
        Object.keys(param).forEach(e => {
          if (param[e] == null) {
            param[e] = false
          }
        });

        if (!shouldSend) {
          param.email = null;
          param.name = null;
          param.purpose = false;
          param.subscribtion = false;
        }
        const API_URL =
          process.env.NODE_ENV === "production" ?
          "https://ebeauty.nivea.bg" :
          "https://ebeauty.nivea.bg";
        axios
          .post(API_URL + "/api/save", param)
          .then(response => {

            this.nextStep();
          })
          .catch(err => {

            this.nextStep();
          });

      },

      clear(info) {
        // clearTimeout(this.timeout);
        // this.timeout = setTimeout(() => {
        //   window.location.reload();
        // }, 5000);
      }
    }
  };

</script>
