<template>
  <div class="screen-cnt">
    <div class="smallcnt">
       <p class="info-msg"
            v-if="!(data.age && data.skin_type )">Отговорете
            на въпросите със *, за да продължите.</p>
      <div class="question dropdown" @click="toggle($event)">
        <div class="label drowpdowntitle">
          {{ agetitle}}
        </div>
        <div class="answers ">
          <div class="checkbox" @click="toggle($event)">
            <input type="radio" v-model="data.age" name="age" id="15" value="0" />
            <label @click="toggle($event);data.age='0'" for="15">18 - 25</label>
          </div>
          <div class="checkbox" @click="toggle($event)">
            <input type="radio" v-model="data.age" name="age" id="25" value="1" />
            <label @click="toggle($event);data.age=1" for="25">26 - 30</label>
          </div>
          <div class="checkbox" @click="toggle($event)">
            <input type="radio" v-model="data.age" name="age" id="30" value="2" />
            <label @click="toggle($event);data.age=2" for="30">31 - 35</label>
          </div>
          <div class="checkbox">
            <input type="radio" v-model="data.age" name="age" id="35" value="3" />
            <label @click="toggle($event);data.age=3" for="35">36 - 45</label>
          </div>
          <div class="checkbox">
            <input type="radio" v-model="data.age" name="age" id="40" value="4" />
            <label @click="toggle($event);data.age=4" for="40">46 - 55</label>
          </div>
          <div class="checkbox">
            <input type="radio" v-model="data.age" name="age" id="50" value="5" />
            <label @click="toggle($event);data.age=5" for="50">55+ </label>
          </div>
        </div>
      </div>
      <div class="question dropdown w5" @click="toggle($event)">
        <div class="label">
          {{ typetitle }}
        </div>
        <div class="answers w5">
          <div class="checkbox">
            <input type="radio" v-model="data.skin_type" name="skin_type" id="sensitive"
              value="0" />
            <label for="sensitive" @click="showModal = true;data.skin_type='0'">Чувствителна</label>
          </div>
          <div class="checkbox">
            <input type="radio" v-model="data.skin_type" name="skin_type" id="dry" value="1" />
            <label for="dry" @click="showModal = true;data.skin_type=1">Суха</label>
          </div>
          <div class="checkbox">
            <input type="radio" v-model="data.skin_type" name="skin_type" id="normal" value="2" />
            <label for="normal" @click="showModal = true;data.skin_type=2">Нормална</label>
          </div>
          <div class="checkbox">
            <input type="radio" v-model="data.skin_type" name="skin_type" id="mixed" value="3" />
            <label for="mixed" @click="showModal = true;data.skin_type=3">Смесена</label>
          </div>
          <div class="checkbox">
            <input type="radio" v-model="data.skin_type" name="skin_type" id="oily" value="4" />
            <label for="oily" @click="showModal = true;data.skin_type=4">Мазна</label>
          </div>
        </div>
        <modal v-if="showModal && data.skin_type == '0'" @close="showModal = false" rounded="true">
          <h3 slot="header">Ето как изглежда чувствителната кожа: </h3>
          <ul slot="body">
            <li>
              <img src="../assets/img/tips1.png"/>чувствителна е на влияния на околната среда</li>
            <li>
              <img src="../assets/img/tips2.png"/>опъната и сърбяща</li>
            <li>
              <img src="../assets/img/tips3.png"/> често се зачервява</li>
          </ul>
        </modal>
        <modal v-if="showModal && data.skin_type == '1'" @close="showModal = false" rounded="true">
          <h3 slot="header">Ето как изглежда сухата кожа:  </h3>
          <ul slot="body">
            <li>
              <img src="../assets/img/tips1.png"/>опъната и сърбяща</li>
            <li>
              <img src="../assets/img/tips2.png"/>груба и белеща се повърхност</li>
            <li>
              <img src="../assets/img/tips3.png"/> реагира бързо на външни влияния като температура</li>
          </ul>
        </modal>
        <modal v-if="showModal && data.skin_type == '2'" @close="showModal = false" rounded="true">
          <h3 slot="header">Ето как изглежда нормалната кожа: </h3>
          <ul slot="body">
            <li>
              <img src="../assets/img/tips1.png"/> мека, с фини пори, безпроблемна</li>
            <li>
              <s<img src="../assets/img/tips2.png"/>бледорозов тен</li>
            <li>
              <img src="../assets/img/tips3.png"/> с добра циркулация и еластичност</li>
          </ul>
        </modal>
        <modal v-if="showModal && data.skin_type == '3'" @close="showModal = false" rounded="true">
          <h3 slot="header">Ето как изглежда смесеният тип кожа: </h3>
          <ul slot="body">
            <li>
              <img src="../assets/img/tips1.png"/> мазен блясък</li>
            <li>
              <img src="../assets/img/tips2.png"/>развиват се проблемни участъци в Т-зоната</li>
            <li>
             <img src="../assets/img/tips3.png"/> зоната на бузите е по-суха</li>
          </ul>
        </modal>
        <modal v-if="showModal && data.skin_type == '4'" @close="showModal = false" rounded="true">
          <h3 slot="header">Ето как изглежда мазният тип кожа: </h3>
          <ul slot="body">
            <li>
              <img src="../assets/img/tips1.png"/> с големи пори</li>
            <li>
              <img src="../assets/img/tips2.png"/> блестяща</li>
            <li>
              <img src="../assets/img/tips3.png"/> развива пъпки</li>
          </ul>
        </modal>
      </div>
      <div class="question">
        <div class="label">
          ТЕНЪТ МИ Е
          <br />НЕРАВНОМЕРЕН
        </div>
        <div class="answers ">
          <skin-slider type="tone" name="skin_tan" :range="['Не', 'Малко','Много']"
            :data="data.skin_tan" @update="val => data.skin_tan = val"></skin-slider>
        </div>
      </div>
      <div class="question  ">
        <div class="label">
          ВИДИМОСТ
          <br />НА ПОРИТЕ
        </div>
        <div class="answers ">
          <skin-slider type="pore" name="pores_visibility" :range="['Незабележими','Видими']"
            :data="data.pores_visibility" @update="val => data.pores_visibility = val" >
          </skin-slider>
          <div class="black-spots">
            <div class="checkbox-inner">
              <input type="checkbox" v-model="data.black_spots" name="black_spots"
                id="black_spots" />
              <label class="present" for="black_spots"></label>
              <label class="label-bs" for="black_spots">ИМАМ ЧЕРНИ ТОЧКИ</label>
            </div>
          </div>
        </div>
      </div>

      <div class="question">
        <div class="label">
          НАЛИЧИЕ
          <br /> НА БРЪЧКИ
        </div>
        <div class="answers ">
          <skin-slider type="wrinkles" name="wrinkles"
            :range="['Няма', 'Фини, Мимически','Видими', 'Дълбоки']" :data="data.wrinkles"
            @update="val => data.wrinkles = val"></skin-slider>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import skinSlider from './skinSlider.vue';
  import modal from '../components/modal.vue';

  export default {
    name: 'FirstQuestions',
    components: {
      skinSlider,
      modal
    },
    props: {
      userInfo: Object,
    },
    data() {
      return {
        showModal: false,
        data: this.userInfo,
      };
    },
    watch: {
      data: {
        handler(val, oldVal) {
          this.$emit('update', val);
        },
        deep: true,
      },
    },
    computed: {
      agetitle() {
        let answers = {
          0: "18 - 25",
          1: "26 - 30",
          2: "31 - 35",
          3: "36 - 45",
          4: "46 - 55",
          5: "55+",
        }
        return (window.innerWidth < 768 || window.innerHeight < 768) ? answers[this.data.age] ||
          'Възраст*' : 'Възраст*';
      },
      typetitle() {
        let answers = {
          0: "Чувствителна",
          1: "Суха",
          2: "Нормална",
          3: "Смесена",
          4: "Мазна",
        }
        return (window.innerWidth < 768 || window.innerHeight < 768) ? answers[this.data
            .skin_type] ||
          'Тип кожа*' : 'Тип кожа*';
      }
    },
    mounted() {},
    methods: {
      toggle(e) {
        if (e.target.classList.value.includes('dropdown')) {
          e.target.classList.toggle('active')
          e.do
        } else {
          e.target.closest(".dropdown").classList.toggle('active')
        }

      }
    },
  };

</script>
