<template>
  <div class="screen-cnt">
    <div class="smallcnt">
      <slick ref="slick" :options="slickOptions">
        <div class="question dropdown active">
          <div class="label drowpdowntitle">Възраст*</div>
          <div class="answers w6">
            <div class="checkbox">
              <input type="radio" v-model="data.age" name="age" id="15" value="0">
              <label for="15" @click="data.age='0'" >18 - 25</label>
            </div>
            <div class="checkbox">

              <input type="radio" v-model="data.age" name="age" id="25" value="1">
              <label @click="data.age=1" for="25">26 - 30</label>
            </div>
            <div class="checkbox">
              <input type="radio" v-model="data.age" name="age" id="30" value="2">
              <label @click="data.age=2" for="30">31 - 35</label>
            </div>
            <div class="checkbox">
              <input type="radio" v-model="data.age" name="age" id="35" value="3">
              <label @click="data.age=3" for="35">36 - 45</label>
            </div>
            <div class="checkbox">
              <input type="radio" v-model="data.age" name="age" id="40" value="4">
              <label @click="data.age=4" for="40">46 - 55</label>
            </div>
            <div class="checkbox">
              <input type="radio" v-model="data.age" name="age" id="50" value="5">
              <label @click="data.age=5" for="50">55+</label>
            </div>
          </div>
        </div>
        <div class="question dropdown active">
          <div class="label">Тип Кожа*</div>
          <div class="answers w5">
            <div class="checkbox">

              <input type="radio" v-model="data.skin_type" name="skin_type" id="sensitive"
                value="0">
              <label for="sensitive" @click="showModal = true;data.skin_type='0'">Чувствителна</label>
            </div>
            <div class="checkbox">

              <input type="radio" v-model="data.skin_type" name="skin_type" id="dry" value="1">
              <label for="dry" @click="showModal = true;data.skin_type=1">Суха</label>
            </div>
            <div class="checkbox">

              <input type="radio" v-model="data.skin_type" name="skin_type" id="normal" value="2">
              <label for="normal" @click="showModal = true;data.skin_type=2">Нормална</label>
            </div>
            <div class="checkbox">

              <input type="radio" v-model="data.skin_type" name="skin_type" id="mixed" value="3">
              <label for="mixed" @click="showModal = true;data.skin_type=3">Смесена</label>
            </div>
            <div class="checkbox">

              <input type="radio" v-model="data.skin_type" name="skin_type" id="oily" value="4">
              <label for="oily" @click="showModal = true;data.skin_type=4">Мазна</label>
            </div>
          </div>
        </div>
        <div width="100%">
          <div class="question with-slider">
            <div class="label">ТЕНЪТ МИ Е
              <br>НЕРАВНОМЕРЕН
            </div>
            <div class="answers">
              <skin-slider type="tone" name="skin_tan" :range="['Не', 'Малко','Много']"
                :data="data.skin_tan" @update="val => data.skin_tan = val"></skin-slider>
            </div>
          </div>
          <div class="question with-slider">
            <div class="label">ВИДИМОСТ
              <br>НА ПОРИТЕ
            </div>
            <div class="answers">
              <skin-slider type="pore" name="pores_visibility" :range="['Незабележими','Видими']"
                :data="data.pores_visibility" @update="val => data.pores_visibility = val" width="80%">
              </skin-slider>
            </div>
          </div>
        </div>
        <div>
          <div class="question">
            <div class="label">ИМАМ
              <br>ЧЕРНИ ТОЧКИ
            </div>
            <div class="answers">
              <div class="checkbox">
                <input type="checkbox" v-model="data.black_spots" name="black_spots"
                  id="black_spots">
                <label for="black_spots">Имам</label>
              </div>
            </div>
          </div>
          <div class="question with-slider">
            <div class="label">НАЛИЧИЕ
              <br>НА БРЪЧКИ
            </div>
            <div class="answers">
              <skin-slider type="wrinkles" name="wrinkles"
                :range="['Няма', 'Фини, Мимически','Видими', 'Дълбоки']" :data="data.wrinkles"
                @update="val => data.wrinkles = val"></skin-slider>
            </div>
          </div>
        </div>
        <div>
          <div class="question with-slider">
            <div class="label">ЕЛАСТИЧНОСТ
              <br>НА КОЖАТА
            </div>
            <div class="answers">
              <skin-slider type="tightness" name="skin_tightness"
                :range="['Плътна и еластична', 'Намалена','Видимо отпусната',]"
                :data="data.skin_tightness" width="650" @update="val => data.skin_tightness = val">
              </skin-slider>
            </div>
          </div>
          <div class="question with-slider">
            <div class="label">ПЕТНА<br/><br/></div>
            <div class="answers">
              <skin-slider type="stains" name="stains" :range="['Не', 'На места','Да',]"
                :data="data.stains" width="650" @update="val => data.stains = val"></skin-slider>
            </div>
          </div>
        </div>
        <div>
          <div class="question mobilerow">
            <div class="label">СТРАДАМ ОТ АКНЕ*</div>
            <div class="answers w2">
              <div class="checkbox">
                <input type="radio" v-model="data.akne" name="akne" id="no" value="0">
                <label for="no">Не</label>
              </div>
              <div class="checkbox">

                <input type="radio" v-model="data.akne" name="akne" id="yes" value="1">
                <label for="yes">Да</label>
              </div>
            </div>
          </div>
          <div class="question dropdown active">
            <div class="label">ИЗПОЛЗВАМ грим*</div>
            <div class="answers w4">
              <div class="checkbox">
                <input type="radio" v-model="data.makeup" name="makeup" id="nop" value="0">
                <label @click="data.makeup='0'" for="nop">Не използвам</label>
              </div>
              <div class="checkbox">
                <input type="radio" v-model="data.makeup" name="makeup" id="eyes" value="1">
                <label @click="data.makeup=1" for="eyes">Само&nbsp;околоочен</label>
              </div>
              <div class="checkbox">
                <input type="radio" v-model="data.makeup" name="makeup" id="light" value="2">
                <label @click="data.makeup=2" for="light">Лек грим</label>
              </div>
              <div class="checkbox">
                <input type="radio" v-model="data.makeup" name="makeup" id="heavy" value="3">
                <label @click=" data.makeup=3" for="heavy">Дълготраен</label>
              </div>
            </div>
          </div>
        </div>
        <div class="question dropdown active">
          <div class="label">Почиствам грима си*</div>
          <div class="answers w4">
            <div class="checkbox">
              <input type="checkbox" v-model="data.cleanup" id="tampons" value="0" name="cleanup">
              <label @click="data.cleanup.push('0')" for="tampons">С памучни
                <br>тампони</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="data.cleanup" id="washing" value="1" name="cleanup">
              <label for="washing" @click="data.cleanup.push(1)">С измиващи
                <br>продукти</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="data.cleanup" id="napkin" value="2" name="cleanup">
              <label @click="data.cleanup.push(2)" for="napkin">С почистващи
                <br>кърпички</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="data.cleanup" id="noclean" value="3" name="cleanup">
              <label @click="data.cleanup.push(3)" for="noclean">Не&nbsp;си&nbsp;почиствам
                <br>грима&nbsp;ежедневно</label>
            </div>
          </div>
        </div>
      </slick>
      <modal v-if="showModal && data.skin_type == '0'" @close="showModal = false" rounded="true">
        <h3 slot="header">Ето как изглежда чувствителната кожа:</h3>
        <ul slot="body">
          <li>
            <img src="../assets/img/tips1.png"/> чувствителна е на влияния на околната среда
          </li>
          <li>
            <img src="../assets/img/tips3.png"/>опъната и сърбяща
          </li>
          <li>
            <img src="../assets/img/tips3.png"/>често се зачервява
          </li>
        </ul>
      </modal>
      <modal v-if="showModal && data.skin_type == '1'" @close="showModal = false" rounded="true">
        <h3 slot="header">Ето как изглежда сухата кожа:</h3>
        <ul slot="body">
          <li>
            <img src="../assets/img/tips1.png"/>опъната и сърбяща
          </li>
          <li>
            <img src="../assets/img/tips2.png"/>груба и белеща се повърхност
          </li>
          <li>
            <img src="../assets/img/tips3.png"/> реагира бързо на външни влияния като температура
          </li>
        </ul>
      </modal>
      <modal v-if="showModal && data.skin_type == '2'" @close="showModal = false" rounded="true">
        <h3 slot="header">Ето как изглежда нормалната кожа:</h3>
        <ul slot="body">
          <li>
            <img src="../assets/img/tips1.png"/> мека, с фини пори, безпроблемна
          </li>
          <li>
            <img src="../assets/img/tips2.png"/>бледорозов тен
          </li>
          <li>
            <img src="../assets/img/tips3.png"/> с добра циркулация и еластичност
          </li>
        </ul>
      </modal>
      <modal v-if="showModal && data.skin_type == '3'" @close="showModal = false" rounded="true">
        <h3 slot="header">Ето как изглежда смесеният тип кожа:</h3>
        <ul slot="body">
          <li>
            <img src="../assets/img/tips1.png"/> мазен блясък
          </li>
          <li>
            <img src="../assets/img/tips2.png"/>развиват се проблемни участъци в Т-зоната
          </li>
          <li>
            <img src="../assets/img/tips3.png"/> зоната на бузите е по-суха
          </li>
        </ul>
      </modal>
      <modal v-if="showModal && data.skin_type == '4'" @close="showModal = false" rounded="true">
        <h3 slot="header">Ето как изглежда мазният тип кожа:</h3>
        <ul slot="body">
          <li>
            <img src="../assets/img/tips1.png"/> с големи пори
          </li>
          <li>
            <img src="../assets/img/tips2.png"/> блестяща
          </li>
          <li>
            <img src="../assets/img/tips3.png"/> развива пъпки
          </li>
        </ul>
      </modal>
    </div>
  </div>
</template>

<script>
  import skinSlider from "./skinSlider.vue";
  import modal from "../components/modal.vue";
  import Slick from "vue-slick";
  import "../../node_modules/slick-carousel/slick/slick.css";
  import {
    setTimeout
  } from "timers";

  export default {
    name: "FirstQuestions",
    components: {
      skinSlider,
      modal,
      Slick
    },
    props: {
      userInfo: Object,
      next: Function
    },
    data() {
      return {
        showModal: false,
        data: this.userInfo,
        slickOptions: {
          infinite: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          centerMode: false,
          dots: true,
          swipe: true
        }
      };
    },
    watch: {
      data: {
        handler(val, oldVal) {
          let elem = document.querySelector(
            `[name=${
            Object.keys(val)[Object.values(val).findIndex(e => e == null)]
          }`
          );
           this.$emit("update", val);
          setTimeout(() => {
            if (this.$refs.slick.currentSlide() == 0 || this.$refs.slick.currentSlide() == 1) {
              this.$refs.slick.next();
            }
            if (this.$refs.slick.currentSlide() == 5 && this.data.akne !== null && this.data
              .makeup !== null) {
              this.$refs.slick.next();
            }
            if (this.$refs.slick.currentSlide() == 6 && this.data.akne !== null && this.data.makeup !== null && this.data.age !== null && this.data.skin_type !== null && this.data.cleanup.length !== 0) {
              this.$parent.$parent.nextTab();
            }


          }, 1000);

        },
        deep: true
      }
    },
    computed: {},
    mounted() {
      document.querySelectorAll(".slider-cnt").forEach(e => {
        e.addEventListener("touchstart", event => {
          event.stopPropagation();
          this.slickOptions.swipe = false;
        });
      });
      document.addEventListener('click', (e) => {
        if (e.target.classList.contains("slick-disabled")) {
          if (e.target.classList.contains("slick-prev")) {
            this.$parent.$parent.prevTab();
          }
          if (e.target.classList.contains("slick-next")) {
            if (
              this.data.cleanup.length &&
              this.data.makeup &&
              this.data.akne &&
              this.data.age &&
              this.data.skin_type
            ) {
              this.$parent.$parent.nextTab();
            }
          }
        }
      }, true);
      this.$refs.slick.$on("afterChange", (event, slick, currentSlide) => {
        let elements = document.querySelectorAll(".slick-dots li");
        elements.forEach((e, i) => {
          if (i <= slick.currentSlide) {
            e.classList.add("passed");

          } else {
            e.classList.remove("passed");

          }
        });
      });
      this.reInit();
    },
    methods: {
      toggle(e) {
        if (e.target.classList.value.includes("dropdown")) {
          e.target.classList.toggle("active");
          e.do;
        } else {
          e.target.closest(".dropdown").classList.toggle("active");
        }
      },

      prev() {
        this.$refs.slick.prev();
      },

      reInit() {
        // Helpful if you have to deal with v-for to update dynamic lists
        this.$nextTick(() => {
          this.$refs.slick.reSlick();
        });
      }
    }
  };
</script>
