<template>
  <div class="modal-mask" @click="$emit('close')">
    <div class="modal-wrapper" >
      <div class="modal-container" :class="{ 'rounded': rounded }">
        <div class="modal-header">
          <span class="modal-close-button" @click="$emit('close')">X</span>
          <slot name="header">
            default header
          </slot>
        </div>

        <div class="modal-body" v-if="$slots.body">
          <slot name="body">

          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props:["rounded"],
  computed: {},
  mounted() {

  },
  methods: {
    onComplete() {
      alert('Yay. Done!');
    },
    beforeTabSwitch() {
      return true;
    },
  },
};
</script>
