<template>
  <div class="screen-cnt products-cnt">
    <div class="title">Препоръчани продукти</div>
    <div class="content">
      <div class="products" id="products">
        <div class="product">
          <img :src="productImageUrl(recomended[0].id)">
          <p>{{ recomended[0].title||'' }}</p>
          <div class="btn-buynow-cnt" v-if="!isTable">
            <a :href="recomended[0].buynow" class="buy-now" target="_blank"></a>
          </div>
        </div>
        <div class="product">
          <div class="productrow">
            <img :src="productImageUrl(recomended[1].id)">
            <img :src="productImageUrl(recomended[1].subitem.id)" v-show="recomended[1].subitem">
            <p>{{ recomended[1].title||'' }}</p>
            <div :class="recomended[1].subitem?'btn-buynow-cnt two-btns':'btn-buynow-cnt one-btns'"
              v-if="!isTable">
              <a :href="recomended[1].buynow" class="buy-now" target="_blank"></a>
              <a :href="recomended[1].subitem.buynow" v-if="recomended[1].subitem" class="buy-now"
                target="_blank"></a>
            </div>
          </div>
        </div>
        <div class="product">
          <img :src="productImageUrl(recomended[2].id)">
          <p>{{ recomended[2].title ||'' }}</p>
          <div class="btn-buynow-cnt" v-if="!isTable">
            <a :href="recomended[2].buynow" class="buy-now" target="_blank"></a>
          </div>
        </div>
        <div class="product" v-if="recomended[2].subitem">
          <img :src="productImageUrl(recomended[2].subitem.id)">
          <p v-if="recomended[2].subitem">{{ recomended[2].subitem.title ||'' }}</p>
          <div class="btn-buynow-cnt" v-if="!isTable">
            <a :href="recomended[2].subitem.buynow" class="buy-now" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <span class="scroll-btn">
      <div class="container">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
        <span class="text">ПЛЪЗНИ<br />НАДОЛУ</span>
      </div>
    </span>

  </div>
</template>

<script>
  export default {
    name: "productslist",
    props: ["recomended"],
    data() {
      return {
        observer: new IntersectionObserver(
          entries => {
            let imgs = Array.from(document.querySelectorAll(".products img"));
            let btnCnts = Array.from(document.querySelectorAll(".products .btn-buynow-cnt a"));
            let ratio = 1;
            if (entries[0].intersectionRatio > 0) {
              let cntSize = document.querySelector("#products").clientHeight;

              let titles = Array.from(document.querySelectorAll(".products p"));

              titles.sort((a, b) => b.clientHeight - a.clientHeight);
              imgs.sort((a, b) => b.naturalHeight - a.naturalHeight);
              titles.forEach((e) => {
                let height = titles[0].clientHeight;
                e.style.height = height + 'px';
              })
              imgs.forEach((e) => {
                if (imgs[0].naturalHeight > (cntSize - (titles[0].clientHeight + 50))) {
                  if (window.innerWidth < 400) {
                    ratio = imgs[0].naturalHeight / (cntSize) - 0.7;
                  } else {
                    if (imgs[0].naturalHeight < 500) {
                      ratio = imgs[0].naturalHeight / (cntSize + 250);
                    } else {
                      ratio = imgs[0].naturalHeight / (cntSize + 400);
                    }
                  }
                  e.style.height = e.naturalHeight * ratio + 'px';
                } else {
                  e.style.height = e.naturalHeight + 'px';
                }
              })
            } else {

            }
            btnCnts.forEach((e, k) => {

              e.parentElement.style.width = e.parentElement.parentElement.firstChild
                .offsetWidth + 'px';

            });
          }, {
            root: document.querySelector("#scrollArea"),
            rootMargin: "10px",
            threshold: [0, 0.1, 0.5, 0.75, 1]
          }
        )
      };
    },
    computed: {
      isMobile() {
        return window.innerWidth < 768 || window.innerHeight < 768;
      },
      isTable() {
        return window.venueName ? true : false
      }
    },
    methods: {
      productImageUrl(productId) {
        return process.env.NODE_ENV === "production" ?
          `static/img/products/${productId}.png` :
          `img/products/${productId}.png`
      },
    },
    mounted() {
      this.observer.observe(document.querySelector("#products"));
    }
  };

</script>
