<template>
  <div class="screen-cnt">
    <div class="smallcnt">
                <p class="info-msg"
            v-if="!(data.cleanup.length && data.makeup && data.akne )">
            Отговорете
            на въпросите със *, за да продължите.</p>
      <div class="question">
        <div class="label">
          ЕЛАСТИЧНОСТ
          <br />НА КОЖАТА
        </div>
        <div class="answers ">
          <skin-slider type="tightness" name="skin_tightness"
            :range="['Плътна и еластична', 'Намалена','Видимо отпусната',]"
            :data="data.skin_tightness" width="650" @update="val => data.skin_tightness = val">
          </skin-slider>
        </div>
      </div>
      <div class="question">
        <div class="label">
          ПЕТНА
        </div>
        <div class="answers ">
          <skin-slider type="stains" name="stains" :range="['Не', 'На места','Да',]"
            :data="data.stains" width="650" @update="val => data.stains = val"></skin-slider>
        </div>
      </div>
      <div class="question">
        <div class="label">
          СТРАДАМ ОТ АКНЕ*
        </div>
        <div class="answers w2">
          <div class="checkbox">
            <input type="radio" v-model="data.akne" name="akne" id="no" value="0" />
            <label for="no" class="bigger">Не</label>
          </div>
          <div class="checkbox">
            <input type="radio" v-model="data.akne" name="akne" id="yes" value="1" />
            <label for="yes" class="bigger">Да</label>
          </div>
        </div>
      </div>
      <div class="question dropdown" @click="toggle($event)">
        <div class="label">
          {{ makeuptitle }}
        </div>
        <div class="answers w4">
          <div class="checkbox" @click="toggle($event)">
            <input type="radio" v-model="data.makeup" name="makeup" id="nop" value="0" />
            <label @click="toggle($event);data.makeup='0'" for="nop" class="bigger">Не използвам</label>
          </div>
          <div class="checkbox" @click="toggle($event)">
            <input type="radio" v-model="data.makeup" name="makeup" id="eyes" value="1" />
            <label @click="toggle($event);data.makeup=1" for="eyes" class="bigger">Само&nbsp;околоочен</label>
          </div>
          <div class="checkbox" @click="toggle($event)">
            <input type="radio" v-model="data.makeup" name="makeup" id="light" value="2" />
            <label @click="toggle($event);data.makeup=2" for="light" class="bigger">Лек грим</label>
          </div>
          <div class="checkbox" @click="toggle($event)">
            <input type="radio" v-model="data.makeup" name="makeup" id="heavy" value="3" />
            <label @click="toggle($event); data.makeup=3" for="heavy" class="bigger">Дълготраен</label>
          </div>
        </div>
      </div>
      <div class="question dropdown" @click="open($event)">
        <div class="label" @click="open($event)">
          {{  cleartitle  }}
        </div>
        <div class="answers w4">
          <div class="checkbox">
            <input type="checkbox" v-model="data.cleanup" id="tampons" value="0" name="cleanup" />
            <label @click="select('0')"  class="bigger">С памучни <br />тампони</label>
          </div>
          <div class="checkbox">

            <input type="checkbox" v-model="data.cleanup" id="washing" value="1" name="cleanup" />
            <label @click="select('1')" class="bigger">С измиващи
              <br />продукти</label>
          </div>
          <div class="checkbox">

            <input type="checkbox" v-model="data.cleanup" id="napkin" value="2" name="cleanup" />
            <label @click="select('2')"  class="bigger" > С&nbsp;почистващи <br />кърпички</label>
          </div>
          <div class="checkbox">

            <input type="checkbox" v-model="data.cleanup" id="noclean" value="3" name="cleanup" />
            <label @click="select('3')"  class="bigger">Не&nbsp;си&nbsp;почиствам
              <br />грима&nbsp;ежедневно</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { data } from 'jquery';
  import skinSlider from './skinSlider.vue';

  export default {
    name: 'secondQuestions',
    components: {
      skinSlider,
    },
    props: {
      userInfo: Object,
    },
    data() {
      return {
        data: this.userInfo,
      };
    },
    computed: {
      cleartitle() {
        let answers = {
          0: "С памучни тампони",
          1: "С измиващи продукти",
          2: "С почистващи кърпички",
          3: "Не си почиствам грима ежедневно",
        }
        return 'ПОЧИСТВАМ ГРИМА СИ*';
      },
      makeuptitle() {
        let answers = {
          0: "Не използвам",
          1: "Само околоочен",
          2: "Лек грим",
          3: "Дълготраен",
        }
        return (window.innerWidth < 768 || window.innerHeight < 768) ? answers[this.data.makeup] ||
          'ИЗПОЛЗВАМ ГРИМ*' :
          'ИЗПОЛЗВАМ ГРИМ*';
      }
    },
    watch: {
      data: {
        handler(val, oldVal) {
          this.$emit('update', val);
        },
        deep: true,
      },
    },
    mounted() {},
    methods: {
      select(e){
        if(this.data.cleanup.some(a=> a==e)){
          this.data.cleanup = this.data.cleanup.filter(a=> a != e);
        }else{
          this.data.cleanup.push(e);
        }
      },
      toggle(e) {
        if (e.target.classList.value.includes('dropdown')) {
          e.target.classList.toggle('active')
        } else {
          e.target.closest(".dropdown").classList.toggle('active')
        }
      },
      open(e) {
        if (e.target.classList.value.includes('dropdown')) {
          e.target.classList.add('active')
        } else {
          e.target.closest(".dropdown").classList.add('active')
        }
      }
    },
  };

</script>
