<template>
  <div class="skin-slider" :id="name">
    <div class="skin-preview" :style="{ 'background-image': image }"></div>
    <div class="slider-cnt">
      <div class="datalist" >
        <div class="option" v-for="(e,key) in Array(max+1).fill()" :value="key" :key="key">
          <span>{{range[key]}}</span></div>
      </div>
      <input type="range" :name="name" :list="name" min="0" :max="max" step="1" v-model="value"
        ref="slide">

    </div>
  </div>
</template>

<script>
  export default {
    name: 'skinSlider',
    props: {
      range: Array,
      width: String,
      type: String,
      data: String,
      name: String
    },
    data() {
      return {
        value: this.data || 0,
        size: 200
      };
    },
    computed: {
      image() {
        return process.env.NODE_ENV === "production" ?
          `url(./static/img/skins/${this.type}_${this.value || 0}.png)` :
          `url(./img/skins/${this.type}_${this.value || 0}.png)`
      },
      max() {
        return this.range.length - 1;
      },

      tooltip() {
        return this.range[this.value];
      },
      tooltipPosition() {
        if (this.value == 0) {
          return this.value * (this.size / this.max) + 30;
        }
        if (this.value == this.max) {
          return this.value * (this.size / this.max) - 30;
        } else {
          return this.value * (this.size / this.max);
        }
      },
    },
    watch: {
      value: {
        handler(val) {
          this.$emit('update', val);
        },
        deep: true,
      },
    },
    updated() {
      this.size = this.$refs.slide.getBoundingClientRect().width;
    },
    methods: {},
  };

</script>
