<template>
  <div class="screen-cnt user-details-cnt" :class="(movetop)?'top':''">
    <div class="title">
      Персонална информация
    </div>
    <div class="user-details">
      <!-- <div class="text-input">
        <label>Име Фамилия</label>
        <input type="text" v-model="data.name" tabindex="1" @keyup.enter="$refs.mail.focus" @focus="add" @blur="remove"/>
      </div> -->
      <div class="text-input">
        <label>Е-mail</label>
        <input type="email" ref="mail" v-model="data.email" tabindex="2" @keyup.enter="$refs.mail.blur" placeholder="Tвоят имейл адрес..."
          @focus="add();movetop = window.venueName?true:false;" @blur="movetop = false;remove();" />
      </div>
      <div class="legal">
        <div class="checkbox-inner" style="padding-top: 10px">
          <input type="checkbox" v-model="data.purpose" name="purpose" id="purpose" tabindex="3" />
          <label for="purpose" class="present">My Label</label>
        </div>
        <label for="purpose" class="legal-text">
          Съгласен съм личните ми данни да бъдат обработвани от Организатора с цел получаване
            на резултатите от Приложението.
        </label>
      </div>
      <div class="legal">
        <div class="checkbox-inner">
          <input type="checkbox" v-model="data.subscribtion" name="subscribtion" id="subscribtion" />
          <label for="subscribtion" class="present">My Label</label>
        </div>
        <label for="subscribtion" class="legal-text">
          Искам да получавам новини от NIVEA.
        </label>
      </div>
    </div>

  </div>

</template>

<script>
  export default {
    props: {
      userInfo: Object,
    },
    data() {
      return {
        data: this.userInfo,
        showModalPorpose: false,
        showModalTFU: false,
        movetop: false,
      };
    },
    computed: {},
    watch: {
      data: {
        handler(val, oldVal) {
          this.$emit('update', val);
        },
        deep: true,
      },
    },
    mounted() {

    },
    destroyed() {

    },
    methods: {
      emailClick() {
        return null;
      },
      add() {
        document.getElementsByTagName('html')[0].classList.add("keyboard");
      },
      remove() {
        document.getElementsByTagName('html')[0].classList.remove("keyboard");
      }
    },
  };

</script>
