html,
body {
    width: 100%;
    height: 100%;
    font-family: 'NiveaBook', Arial, Helvetica, sans-serif;
    background: url(../img/background.png) center center no-repeat;
    background-size: cover;
    background-color: #fff;
}

body {
    overflow: hidden;


    &>div {
        width: 100%;
        height: 100%;
    }
}

#ebeauty {
    position: relative;
    height: 100%;
    width: 100%;

    .wizard-header,
    .wizard-nav,
    .wizard-progress-with-circle {
        display: none;
    }

    .wizard-tab-content {
        padding: 60px;
    }

    .wizard-card-footer {
        position: fixed;
        bottom: 80px;
        left: auto;
        right: auto;
        width: 100%;
        text-align: center;

        .wizard-footer-left,
        .wizard-footer-right {
            display: inline-block;
            float: none;
            padding: 0 40px;
            position: relative;

            button {
                background: url(../img/button.png) center center no-repeat transparent !important;
                border: 0 !important;
                width: 221px;
                height: 105px;
                font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                font-size: 25px;
                line-height: 28px;
                text-align: left;
                padding-left: 30px;
                color: #fff;
                background-size: contain !important;

                &.finish-button {
                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    text-indent: -9999px;
                    background: url(../img/end-bg.jpg) center center no-repeat transparent !important;
                    background-size: contain !important;
                    background-color: #fff !important;
                }

                &.start-button {
                    position: fixed;
                    top: 420px;
                    left: 410px;
                    right: auto;
                    width: 250px;
                    max-width: 350px;
                    height: 250px;
                    text-indent: -9999px;
                    background: url(../img/clock.png) center 30px no-repeat transparent !important;
                    animation-duration: 1.7s !important;
                    background-size: contain !important;
                    margin: auto;
                    opacity: 1 !important;
                }

                &.send-button {
                    background: url(../img/sent-button.png) center center no-repeat transparent !important;
                    top: 450px;
                    left: 0;
                    position: fixed;
                    opacity: 1 !important;
                    height: 167px;
                    width: 175px;
                    right: 0;
                    margin: 0 auto;
                    background-size: contain !important;
                }
            }
        }

        .wizard-footer-left {
            button {
                background: url(../img/back-button.png) center center no-repeat transparent !important;
                border: 0 !important;
                width: 223px;
                height: 105px;
                text-align: right;
                padding-right: 30px;
                color: #fff;
                background-size: contain !important;
            }
        }

       
    }
    .smallcnt {
    position: relative;
    background-color: #fff;
    border-radius: 500px;
    padding: 50px 150px 50px;
    }
    .info-msg {
        position: absolute;
        font-family: 'NiveaLight';
        font-size: 16px;
        top: -50px;
        width: 600px;
        left: 0;
        color: #24418b;
    }

    &.tablet {
        .wizard-card-footer {
            .info-msg {
                position: absolute;
                color: #fff;
                font-family: 'NiveaLight';
                font-size: 16px;
                top: 40px;
                width: 600px;
                left: 560px;
                -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
            }
        }
    }

    .checkbox, .checkbox-inner {
        display: block;
        float: left;
        margin: 0;
        padding-top: 30px;

        p {
            text-align: center;
            color: #fff;
            font-size: 24px;
            line-height: 28px;
            position: absolute;
            left: 50%;
            word-wrap: none;
            transform: translate(-50%, -50%);
            top: 0;
            white-space: nowrap;
        }

        input {
            display: none;

            &:checked~label:after {
                background: #24418b;
            }
        }

        label.present {
            width: 20px;
            height: 20px;
            text-indent: -9999px;
            background-color: #89d5f7;
            position: relative;
            border-radius: 100%;
            margin-right: 10px;
            padding: 0;
            line-height: 0;
            min-height: auto;


            &:after {
                content: "";
                position: absolute;
                left: 5px;
                top: 5px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: #89d5f7;
            }
        }
    }

    .screen-1 {
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        background: url(../img/screen1bg.png) right center no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;

        .legal {
            position: absolute;
            top: 200px;
            width: 90%;
            max-width: 700px;
            left: 200px;
            color: #24418b;
            text-indent: 0;
            font-size: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
           

            .agreement {
                display: flex;
                flex-wrap: wrap;
            }
            .slogan {
                font-size: 35px;
                line-height: 1.1;
                color: #24418b;
                font-family: 'NiveaBold';
                text-align: center;
                text-transform: uppercase;
                width: 100%;
                padding-bottom: 25px;
            }

            .asterix {
                padding-top: 10px;
                text-align: left;
                font-size: 14px;
                width:100%;
                padding-left: 40px;
                font-family: "Raleway", sans-serif;
            }

            .checkbox {
                padding-top: 0;
                width:40px;
            }
            .legal-text{
               width: calc(100% - 50px);
               font-family: "Raleway", sans-serif;
            }
        }

    }

    .screen-cnt {
        max-width: max-content;
        width: auto;
        margin: 80px auto;

        &.top {
            margin-top: -100px;
        }

        .question {
            display: flex;
            width: min-content;
            margin-bottom: 30px;
            background-color: #c9eefe;
            border-radius: 50px;
            height: 80px;
            padding:0 20px;
            box-shadow:  0 0 10px -1px #ccc;
            &.w5{
                width: 100%;
            }
            .label {
                min-width: 200px;
                font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 2px;
                display: flex;
                vertical-align: middle;
                text-align: left;
                line-height: 1.2;
                align-items: center;
                white-space: normal;
                justify-content: flex-start;
                padding: 21px 0;
                color:#1b4e90;
            }
            .checkbox {
                padding-top: 0;

                label {
                    font-size: 12px;
                    color: #fff;
                    text-indent: 0;
                    line-height: 1.2;
                    border-radius: 30px;
                    border: 1px solid #1b4e90;
                    background-color: #c9effe;
                    margin: 10px;
                    height: auto;
                    width:120px;
                    height: 40px;
                    padding:0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:#1b4e90;

                    &:after {
                        display: none;
                    }
                    &.bigger{
                        width:135px;
                    }
                }

                input {
                    &:checked~label {
                        background: #1b4e90;
                        color:#fff;
                    }
                }
            }

            .answers {
                display: flex;
                vertical-align: middle;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                
            }

           .black-spots .checkbox-inner{
               display: flex;
               padding-top: 10px;
               label{
                   display: inline-block;
               }
               .label-bs{
                   display: inline-block;
                   width: auto;
                   font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color:#24418b;
                    width: 210px;
                    padding: 0;
                    line-height: 1.2;
               }
           } 

        }
    }
}