@font-face {
    font-family: 'NiveaBold';
    src: url('../fonts/NIVEABrandTypeTT-ExConExtraBold.woff') format('woff'), 
    url('../fonts/NIVEABrandTypeTT-ExConExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NiveaBook';
    src: url('../fonts/NIVEABrandTypeTT-Medium.woff') format('woff'), 
    url('../fonts/NIVEABrandTypeTT-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

