.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.loading-modal {
  .modal-wrapper {
    display: none;
    padding: 40px;
  }

  &:before {
    content: "";
    content: "";
    width: 100px;
    height: 100px;
    top: 35%;
    background-color: #FFF;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px)
    }

    50% {
      -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 500px;
  width: 90%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #F5F5F5;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: 'NiveaBook', Arial, Helvetica, sans-serif;
  color: #10357f;
  border-radius: 20px;
  overflow: hidden;
  max-height: 80vh;


  &.rounded {
    border-radius: 250px;
    max-width: 600px;
    padding: 30px 80px;

    .modal-close-button {
      top: 23px;
      right: 15px;
    }
  }
}

.trustModal {
  .modal-container {
    max-width: initial;
  }
}

.modal-header {
  position: relative;

  h3 {
    margin-top: 5px;
    font-size: 20px;
    color: #10357f;
    font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
    padding-right: 20px;

  }

  border-bottom:0;
}

.modal-body {
  margin: 0 0;
  overflow: auto;
  max-height: 50vh;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;

  ul {
    list-style: none;
    padding: 0;

    li {
      position: relative;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-right: 10px;
      }

    }
  }

  ol {
    padding-left: 15px;

    li {
      padding-bottom: 10px;

      span {
        font-size: 15pt !important;
      }
    }
  }
}

.modal-close-button {
  position: absolute;
  top: -10px;
  right: -12px;
  font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
  color: #10357f;
  font-size: 20px;
  line-height: 20px;

}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width:600px) {
  .modal-header {
    position: relative;

    h3 {
      margin-top: 5px;
      font-size: 16px;
      color: #10357f;
      font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
    }
  }

  .modal-body {
    margin: 20px 0;
    overflow: auto;
    max-height: 50vh;

    ul {
      list-style: none;
      padding: 0;

      li {
        position: relative;
        font-size: 14px;
        line-height: 16px;
        padding-left: 50px;
        margin-bottom: 30px;

        span {
          position: absolute;
          left: 0;
          font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
          color: #fff;
          font-size: 25px;
          line-height: 25px;
          width: 40px;
          background-color: #10357f;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          padding: 7px;
          margin-top: -5px;

          &.two {
            margin-top: 5px;
          }
        }

      }
    }

    ol {
      padding-left: 15px;

      li {
        padding-bottom: 10px;

        span {
          font-size: 15pt !important;
        }
      }
    }
  }

  .modal-container {
    &.rounded {
      border-radius: 250px;
      max-width: 600px;
      padding: 30px 20px;

      .modal-close-button {
        top: 23px;
        right: 35px;
      }
      .modal-header{
        padding: 0 60px;
        
      }
      ul {
        li{
          padding-left: 0;
        }
      }
    }
  }
}