.products-cnt {
    margin: 80px auto !important;
    .title {
        font-size: 35px;
        color: #01136f;
        font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px !important;
    }
    .content{
       margin: 0px 50px 0 !important;
       background-color: #fff;
       border-radius: 500px;
       padding:50px 80px 50px;
       box-shadow:  0 0 10px -1px #cdcdcc;
       -ms-overflow-style: none;  /* IE and Edge */
       scrollbar-width: none;  /* Firefox */
       /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .products {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 450px;
        

        .product {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            position: relative;
            flex-direction: column;
            text-align: center;
            padding: 0 5px;
            flex-shrink: 1;
            margin: 0 25px;
            

            .productrow {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                align-content: center;
                justify-content: center;

                img {
                    max-height: 203px;
                }

            }

            img {
                display: inline-block;
                margin-bottom: 20px;
                object-fit: fill;
            }

            p {
                color: #01136f;
                font-family: 'NiveaLight', Arial, Helvetica, sans-serif;
                font-size: 20px;
                line-height: 1.1;
            }
            .btn-buynow-cnt{
                line-height: 1;
                padding:0;
                margin-bottom: 10px;
                position: absolute;
                min-height: 100% !important;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
            
                
                a{
                    color: #01136f !important;
                    margin:0;
                    display: inline-block;
                    text-decoration: none;
                    width:60px;
                    height:40px;
                    position: absolute;
                    right: -20px;
                    top: calc(50% - 50px);
                    left: auto;
                    transform: translate(88% ,-54%);
                    background: url(../img/buy.png) 0 0 no-repeat;
                    background-size: contain;
                }
                &.one-btns{
                    a:last-of-type{
                        top: calc(50% - 45px)!important;
                    }
                }
                &.two-btns{
                    a:first-of-type{
                        top: calc(25% - 25px);
                    }
                    a:last-of-type{
                        top: calc(65% - 35px);
                    }
                }
            }

        }

    }

}


