.skin-slider {
    position: relative;
    justify-content: start;
    align-items: flex-start;
    text-align: left;
    width: 600px;
    @media screen and (min-height:768px){
        &#pores_visibility {
            width: 358px !important;
        }
    }

    .skin-preview {
        width: 70px;
        height: 70px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin: 0 60px 0 0;
    }

    .slider-cnt {
        display: inline-block;
        position: absolute;
        top: 21%;
        width: calc(100% - 160px);
    }
}

.datalist {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);


    background: #91c7df;
    /* Old browsers */
    background: -moz-linear-gradient(left, #91c7df 0%, #042a71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ac91c7dfa6a6 0%, #042a71 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #91c7df 0%, #042a71 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91c7df', endColorstr='#042a71', GradientType=1);
    /* IE6-9 */
    border-radius: 25px;
    z-index: 1;
    height: 10px;

    .option {
        margin-top: -30px;
        position: relative;
        width: 20px;

        span {
            color: #24418b;
            position: absolute;
            font-size: 12px;
            line-height: 1.1;
            width: 87px;
            text-align: center;
            left: -100%;
            right: auto;
            transform: translate(-17%, 0);
        }
    }
}

//all sliders
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 20px 0;
    background: transparent;
    z-index: 50;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    z-index: 50;

}

input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #91c7df;
    /* Old browsers */
    background: -moz-linear-gradient(left, #91c7df 0%, #042a71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ac91c7dfa6a6 0%, #042a71 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #91c7df 0%, #042a71 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91c7df', endColorstr='#042a71', GradientType=1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
    z-index: 50;
}



input[type=range]::-moz-range-track {
    width: 100%;
    height: 28px;
    cursor: pointer;
    z-index: 50;
}

input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #00136f;
    cursor: pointer;
    z-index: 50;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 28px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    z-index: 50;
}


input[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #00136f;
    z-index: 50;
}

@media screen and (max-width:1000px),
screen and (max-height: 768px) {
    .skin-slider {
        width: 100%;
        flex-direction: column;
        min-height: 100px;
        align-items: center;
        justify-content: center;

        .skin-preview {
            width: 60px;
            height: 60px;
            border: 2px solid #fff;
            border-radius: 50%;
            display: inline-block;
            margin: 0 20px 0 0;
            display: block;
            position: absolute;
            right:-5px;
            margin-right: 0;
            top:-45px;
        }

        .slider-cnt {
            width: 100%;
            top:35px;
            left:0;
            right:0;
            margin:0 auto;
        }
        &#pores_visibility{
            .slider-cnt {
                width:70%;
            }
        }
        &#skin_tightness{
            .slider-cnt {
                width:80%;
            }
        }
    }
}