.user-details-cnt {

    .title {
        font-size: 35px;
        color: #00136f;
        font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .user-details {
        padding:60px 100px;
        background-color: #fff;
        border-radius: 300px;
        min-height: 460px;
        box-shadow:  0 0 10px -1px #cdcdcc;
        .text-input {
            text-align: center;
            margin-bottom: 30px;
            label {
                display: block;
                font-family: 'NiveaLight', Arial, Helvetica, sans-serif;
                font-size: 20px;
                color: #00136f;
                text-align: left;
                padding-bottom: 10px;
                padding-left: 20px;
                max-width: 700px;
                margin:0 auto
            }
            input {
                border: 1px solid #92dbfc;
                border-radius: 30px;
                padding: 10px 30px;
                font-size: 16px;
                line-height: 20px;
                background-color: #f7f8fa;
                color: #c2c2c2;
                min-width: 700px;
                &:focus {
                    outline: none;
                }
                &::placeholder{
                    color: #d8d7d7;
                }
            }
        }
        .legal {
            font-family: 'NiveaLight', Arial, Helvetica, sans-serif;
            font-size: 18px;
            line-height:20px;
            max-width: 700px;
            margin: 0 auto;
            color: #00136f;
            margin-bottom:30px;
            display: flex;
            align-items: center;
            .checkbox-inner {
                margin-top:-10px !important;
                margin-left: 0 !important;
                padding-top:0 !important;
               
            }
            .legal-text {
                padding-left: 0px;
                font-weight: normal;
                
            }
        }
    }
   
}