@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "./variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./animate.css";

@import "./fonts";
@import "./common";
@import "./products";
@import "./userDetails";
@import "./rangeslider";
@import "./modal";
@import "responsive_new";
//@import 'responsive';

.scroll-btn {
    display: none;
}

@media screen and (max-width:999px),
screen and (max-height: 767px) {
    #ebeauty .screen-cnt {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #ebeauty .smallcnt {
        width: calc(100vw - 90px) !important;
        margin: 0 auto;
        max-width: 500px;
    }

    .slick-slide {
        width: calc(100vw - 90px) !important;
        max-width: 500px;
        height: 80vh !important;
        padding: 2px;
        display: flex !important;
        align-items: center;
        //justify-content: center;
        &> div {
            width: 100%;
        }
    }

    .slick-track {
        width: calc(8*100vw) !important;
        height: 70vh !important;
 
    }

    .slick-dots {
        position: fixed;
        bottom: 50px;
        width: calc(100% - 90px);
        max-width: 500px;
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
        justify-content: center;

        li {
            button {
                text-indent: -99999px;
                background-color: #fff;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                padding: 0;
                border: none;
                margin-right: 5px;
                appearance: none;
                transition: all 1s;

            }

            &.slick-active,
            &.passed {
                button {
                    background-color: #00136f;
                }
            }
        }
    }

    .slick-arrow {
        position: fixed;
        top: 50vh;
        appearance: none;
        background: url(../img/arrow.png) center center no-repeat;
        background-size: contain;
        width: 20px;
        height: 40px;
        left: 10px;
        border: none;
        text-indent: -9999px;
        z-index: 50;
        outline: none !important;

        &.slick-next {
            right: 10px;
            left: auto;
            transform: rotate(180deg);
        }

        &.slick-prev.slick-disabled {
            display: none;
        }
    }

    

    #ebeauty .wizard-card-footer .info-msg {
        position: fixed;
        color: #fff;
        font-family: 'NiveaLight';
        display: block;
        bottom: 11px;
        top: auto;
        width: 100vw;
        left: 0;
        font-size: 10px;
        transform: translate(0, 0);
    }

    .user-details-cnt .user-details .legal {
        margin-bottom: 18px;
    }

    #ebeauty .wizard-card-footer .wizard-footer-left button,
    #ebeauty .wizard-card-footer .wizard-footer-right button {
        text-indent: 9999px;
        width: 20px;
        height: 30px;
        left: 10px;
        background-image: url(../img/arrow.png) !important;
        background-position: 0 0 !important;
        min-width: auto;
        position: fixed;
        top: 50%;
    }

    #ebeauty .wizard-card-footer .wizard-footer-right button:not(.finish-button, .start-button, .send-button) {
        top: 50%;
        left: auto;
        right: 10px;
        transform: rotate(180deg);
    }

    #ebeauty .wizard-card-footer .wizard-footer-right button.send-button {
        position: fixed;
        bottom: 20px;
        top: auto;
        left: 0%;
    }


    #ebeauty .wizard-tab-content {
        padding: 0;
        overflow: hidden;
        height: 100%;
    }

    .scroll-btn {
    
            display: block;
            position: fixed;
            right: 0;
            left: 0;
            margin: 0 auto;
            width: 66px;
            margin-top: -5px;
        
        .container{
            width: auto;
        }
        .chevron {
            position: absolute;
            width: 28px;
            height: 8px;
            opacity: 0;
            transform: scale3d(0.5, 0.5, 0.5);
            animation: move 3s ease-out infinite;
        }

        .chevron:first-child {
            animation: move 3s ease-out 1s infinite;
        }

        .chevron:nth-child(2) {
            animation: move 3s ease-out 2s infinite;
        }

        .chevron:before,
        .chevron:after {
            content: ' ';
            position: absolute;
            top: 0;
            height: 100%;
            width: 51%;
            background: #24418b;
        }

        .chevron:before {
            left: 0;
            transform: skew(0deg, 30deg);
        }

        .chevron:after {
            right: 0;
            width: 50%;
            transform: skew(0deg, -30deg);
        }

        @keyframes move {
            25% {
                opacity: 1;

            }

            33% {
                opacity: 1;
                transform: translateY(30px);
            }

            67% {
                opacity: 1;
                transform: translateY(40px);
            }

            100% {
                opacity: 0;
                transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            }
        }

        .text {
            display: block;
            margin-top: 60px;
            margin-left: -8px;
            font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
            font-size: 10px;
            color: #24418b;
            text-transform: uppercase;
            white-space: nowrap;
            animation: pulse 2s linear alternate infinite;
        }

        @keyframes pulse {
            to {
                opacity: 1;
            }
        }
    }

}


