@media screen and (min-height:1180px) {
    #ebeauty .screen-cnt {
        
    
        margin: 60px auto;

        .products-cnt .products {
            height: 48vh;
        }
    }

    html {
        zoom: 112%;
    }
}

@media screen and (max-height:1050px) {
    #ebeauty {
        position: relative;
        height: 100%;
        width: 100%;

        .wizard-header,
        .wizard-nav,
        .wizard-progress-with-circle {
            display: none;
        }

        .wizard-tab-content {
            padding: 0px;
        }

        .wizard-card-footer {
            position: fixed;
            bottom: 40px;
        }
    }
}

@media screen and (max-height:935px) {
    #ebeauty {
        .wizard-card-footer {
            position: fixed;
            bottom: 5%;
            left: auto;
            right: auto;
            width: 100%;
            text-align: center;

            .wizard-footer-left,
            .wizard-footer-right {
                display: inline-block;
                float: none;
                padding: 0 40px;
                position: relative;

                button {
                    background: url(../img/button.png) center center no-repeat transparent !important;
                    background-size: contain !important;
                    border: 0 !important;
                    width: 40px;
                    height: 80px;
                    font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    line-height: 28px;
                    text-align: left;
                    padding-left: 15px;
                    color: #fff;

                    &.finish-button {
                        position: fixed;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        text-indent: -9999px;
                        background: url(../img/end-bg.jpg) center center no-repeat transparent !important;
                        background-size: contain !important;
                        background-color: #fff !important;
                    }

                   

                    
                }
            }

            .wizard-footer-left {
                button {
                    background: url(../img/back-button.png) center center no-repeat transparent !important;
                    background-size: contain !important;
                    border: 0 !important;
                    width: 140px;
                    height: 80px;
                    text-align: right;
                    padding-right: 15px;
                    color: #fff;
                }
            }

            .info-msg {
                position: absolute;
                color: #fff;
                font-family: 'NiveaLight';
                font-size: 16px;

            }
        }

        .checkbox {
            display: block;
            float: left;
            margin: 0;
            padding-top: 30px;

            p {
                text-align: center;
                color: #fff;
                font-size: 20px;
                line-height: 22px;
                position: absolute;
                left: 50%;
                word-wrap: none;
                transform: translate(-50%, -50%);
                top: 0;
                white-space: nowrap;
            }

            input {
                display: none;

                
            }

     
        }

   

        .screen-cnt {
        
           
            margin: 80px auto;

            &.top {
                margin-top: -100px;
            }

            .question {
                display: flex;

                margin-bottom: 25px;

           

                .answers {
                   
                    display: flex;
                    vertical-align: middle;
                    align-items: center;
                    text-align: center;
                    justify-content: space-between;

                    &.w2 {
                        width: 27%;
                    }
                }


                .question {
                    float: left;
                    width: 50%;
                    margin: 0;
                    justify-self: self-start;

                    .label {
                        min-width: 280px;
                        text-align: left;
                        align-items: center;
                    }
                }

            }
        }
    }

}


@media screen and (max-width:1000px),
screen and (max-height: 768px) {
    body {
        overflow-y: auto
    }

    #ebeauty {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0 auto;

        .smallcnt {
            max-width: 500px;
            margin: 0 auto;
        }

        .wizard-header,
        .wizard-nav,
        .wizard-progress-with-circle {
            display: none;
        }

        .wizard-navigation {
            height: 100%;
        }

        .wizard-tab-content {
            padding: 0;
            overflow: hidden;
            height: calc(100% - 80px);
        }

        .wizard-card-footer {
            position: fixed;
            bottom: 10px;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
            padding: 0;
            max-width: 500px;
            margin: 0 auto;

            .wizard-footer-left,
            .wizard-footer-right {
                display: inline-block;
                float: none;
                padding: 0 10px;
                position: relative;

                button {
                    background: url(../img/button.png) center center no-repeat transparent !important;
                    background-size: contain !important;
                    border: 0 !important;
                    width: 100%;
                    height: 80px;
                    font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    text-align: left;
                    padding-left: 15px;
                    color: #fff;
                    margin: 0;

                    &.finish-button {
                        position: fixed;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        text-indent: -9999px;
                        background: url(../img/end-bg.jpg) center center no-repeat transparent !important;
                        background-size: 200vw !important;
                        background-color: #fff !important;
                        background-size: contain !important;
                    }
                    &.start-button{
                        left: 0;
                        margin: 0 auto;
                        right: 0;
                        background-size: contain !important;
                    }
           

                    &.send-button {
                        background: url(../img/sent-button.png) center center no-repeat transparent !important;
                        top: -47px;
                        position: absolute;
                        opacity: 1 !important;
                        height: 49px;
                        width: 107px;
                        right: 0;
                        margin: 0 auto;
                        background-size: contain !important;
                        left: -170px;
                    }
                }
            }

            .wizard-footer-left {
                button {
                    background: url(../img/back-button.png) center center no-repeat transparent !important;
                    background-size: contain !important;
                    border: 0 !important;
                    width: 100%;
                    height: 80px;
                    text-align: right;
                    padding-right: 15px;
                    color: #fff;
                }
            }


            .info-msg {
                position: absolute;
                color: #fff;
                font-family: 'NiveaLight';
                font-size: 16px;
                left: 300px;
                top: 44px;
                width: 500px;
                display: none;
            }
        }

        .checkbox {
            display: block;
            float: left;
            margin: 0;
            padding-top: 0px;

            p {
                text-align: center;
                color: #fff;
                font-size: 18px;
                line-height: 28px;
                position: absolute;
                left: 50px;
                ;
                word-wrap: none;
                transform: none;
                top: 12px;
                white-space: nowrap;
            }

            input {
                display: none;

                
            }

            
        }

        .screen-1 {
            width: 100%;
            height: 100%;
            text-indent: -9999px;
       

            .legal {
               left:20px;

                .legal-text {
                    span {
                        opacity: 0.9;
                        text-decoration: underline;
                    }
                }

                .slogan {
                   
                }

                .asterix {
                    padding-top: 40px;
                    text-align: center;
                }

                .checkbox {
                    padding-top: 0;
                }
            }

        }

        .screen-cnt {
            max-width: initial !important;
            width: 100% !important;
            padding: 5%;
            overflow-x: hidden;
            overflow-y: auto;
            height: 74vh;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            padding-bottom: 90px;

            &::-webkit-scrollbar {
                display: none; // Safari and Chrome
            }

            &.top {
                margin-top: -100px;
            }

            .question {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 40px;
         

                &.dropdown {
                    background: #00136f;
                    padding: 20px;
                    border: 2px solid #fff;
                    border-radius: 10px;
                    height: 62px;
                    overflow: hidden;

                    .label {
                        margin-bottom: 10px;
                        position: relative;
                        padding: 0;

                        &:after {
                            content: "";
                            background: url(../img/arrow-icon.png) 0 0 no-repeat;
                            width: 25px;
                            height: 15px;
                            background-size: contain;
                            font-family: 'NiveaBook', Arial, Helvetica, sans-serif;
                            right: 0;
                            margin-top: -2px;
                            position: absolute;
                        }
                    }

                    .checkbox {
                        width: 100%;
                        text-align: left;
                        border-top: 2px solid #fff;

                        label {
                            height: 50px;
                            float: left;
                        }

                        P {
                            position: relative;
                            height: auto;
                            min-height: 50px;
                            left: 0;
                            display: inline-block;
                            padding-bottom: 10px;
                            text-align: left;
                            font-size: 16px;
                        }

                        &:first-of-type {
                            border: none;
                        }
                    }

                    &.active {
                        height: auto;
                    }
                }

                .label {
                    width: 100%;
                    font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    display: flex;
                    vertical-align: middle;
                    text-align: left;
                    line-height: 1.2;
                    align-items: center;
                    white-space: normal;
                    padding: 21px 0;
                }

                .answers {
                    width: 100%;
                    display: flex;
                    vertical-align: middle;
                    align-items: flex-start;
                    text-align: center;
                    justify-content: space-between;
                    flex-direction: column;

                    &.w2 {
                        width: 100%;

                    }
                }

                .question {
                    float: none;
                    width: 100%;
                    margin: 0;
                    justify-self: self-start;

                    .label {
                        min-width: auto;
                        width: 80%;
                        text-align: left;
                        align-items: center;
                    }

                    .answers {
                        width: auto;
                    }
                }

            }
        }
    }
}

@media screen and (max-height: 768px) {
    #ebeauty .screen-cnt {
     
        width: 90%;
        margin: 20px auto;
        overflow-x: hidden;
        overflow-y: auto;
        height: 83vh;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        padding-bottom: 90px;
    }


}

@media screen and (max-width:370px) {
   

    #ebeauty {
        .wizard-card-footer {
            position: fixed;
            bottom: 10px;
            left: auto;
            right: auto;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
            padding: 0;

            .wizard-footer-left,
            .wizard-footer-right {
                display: inline-block;
                float: none;
                padding: 0 10px;
                position: relative;

                button {
                    background: url(../img/button.png) center center no-repeat transparent !important;
                    background-size: contain !important;
                    border: 0 !important;
                    width: 100%;
                    height: 80px;
                    font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    line-height: 28px;
                    text-align: left;
                    padding-left: 15px;
                    color: #fff;
                    margin: 0;

                    &.finish-button {
                        position: fixed;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        text-indent: -9999px;
                        background: url(../img/end-bg.jpg) center center no-repeat transparent !important;
                        background-size: 200vw !important;
                        background-color: #fff !important;
                    }

                    
                }
            }

            .wizard-footer-left {
                button {
                    background: url(../img/back-button.png) center center no-repeat transparent !important;
                    padding-left: 53px;
                    background-size: contain !important;
                    text-align: right;
                }
            }
        }
    }

    #ebeauty .screen-cnt .question .label {
        font-family: NiveaBold, Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: left;
        line-height: 1.2;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        white-space: normal;
        padding: 21px 0;
    }

    #ebeauty .screen-cnt .question.dropdown {
        background: #00136f;
        padding: 20px;
        border: 2px solid #fff;
        border-radius: 10px;
        height: 53px;
        overflow: hidden;
    }
}

.landspace {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html:not(.keyboard) {
        .landspace {
            display: block;
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 60%;
            color: #24418b;
            transform: translate(-50%, -50%);
            height: auto;
            text-align: center;
            font-size: 20px;
            font-family: 'NiveaBold';
            letter-spacing: 1px;
        }

        #ebeauty:not(.keyboard) {
            display: none;
        }
    }

}