@media screen and (max-height:1050px) {
    #ebeauty {
        position: relative;
        height: 100%;
        width: 100%;

        .wizard-header,
        .wizard-nav,
        .wizard-progress-with-circle {
            display: none;
        }

        .wizard-tab-content {
            padding: 0px;
            height:100%;
        }

        .wizard-card-footer {
            position: fixed;
            bottom: 40px;
        }
    }
}

@media screen and (max-height:935px) {
    #ebeauty {
        .wizard-card-footer {
            position: fixed;
            bottom: 5%;
            left: auto;
            right: auto;
            width: 100%;
            text-align: center;

            .wizard-footer-left,
            .wizard-footer-right {
                display: inline-block;
                float: none;
                padding: 0 40px;
                position: relative;

                button {
                    background: url(../img/button.png) center center no-repeat transparent !important;
                    background-size: contain !important;
                    border: 0 !important;
                    width: 40px;
                    height: 80px;
                    font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    line-height: 28px;
                    text-align: left;
                    padding-left: 15px;
                    color: #fff;

                    &.finish-button {
                        position: fixed;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        text-indent: -9999px;
                        background: url(../img/end-bg.jpg) center center no-repeat transparent !important;
                        background-size: contain !important;
                        background-color: #fff !important;
                    }




                }
            }

            .wizard-footer-left {
                button {
                    background: url(../img/back-button.png) center center no-repeat transparent !important;
                    background-size: contain !important;
                    border: 0 !important;
                    width: 140px;
                    height: 80px;
                    text-align: right;
                    padding-right: 15px;
                    color: #fff;
                }
            }

            .info-msg {
                position: absolute;
                color: #fff;
                font-family: 'NiveaLight';
                font-size: 16px;

            }
        }

        .checkbox {
            display: block;
            float: left;
            margin: 0;
            padding-top: 30px;

            p {
                text-align: center;
                color: #fff;
                font-size: 20px;
                line-height: 22px;
                position: absolute;
                left: 50%;
                word-wrap: none;
                transform: translate(-50%, -50%);
                top: 0;
                white-space: nowrap;
            }

            input {
                display: none;


            }


        }



        .screen-cnt {


            margin: 80px auto;

            &.top {
                margin-top: -100px;
            }

            .question {
                display: flex;

                margin-bottom: 25px;



                .answers {

                    display: flex;
                    vertical-align: middle;
                    align-items: center;
                    text-align: center;
                    justify-content: space-between;


                }


                .question {
                    float: left;
                    width: 50%;
                    margin: 0;
                    justify-self: self-start;

                    .label {
                        min-width: 280px;
                        text-align: left;
                        align-items: center;
                    }
                }

            }
        }
    }

}


@media screen and (max-width:1500px),
screen and (max-height: 768px) {
    body {
        overflow-y: auto
    }

    #ebeauty {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0 auto;

        .smallcnt {
            max-width: 500px;
            margin: 0 auto;
            position: relative;
            background-color: transparent;
            border-radius: 500px;
            padding: 0;
        }

        .wizard-header,
        .wizard-nav,
        .wizard-progress-with-circle {
            display: none;
        }

        .wizard-navigation {
            height: 100%;
        }

        .wizard-tab-content {
            padding: 0;
            overflow: hidden;
     
        }

        .wizard-card-footer {
            position: fixed;
            bottom: 10px;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
            padding: 0;
            max-width: 500px;
            margin: 0 auto;

            .wizard-footer-left,
            .wizard-footer-right {
                display: inline-block;
                float: none;
                padding: 0 10px;
                position: relative;

                button {
                    background: url(../img/button.png) center center no-repeat transparent !important;
                    background-size: contain !important;
                    border: 0 !important;
                    width: 100%;
                    height: 80px;
                    font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    text-align: left;
                    padding-left: 15px;
                    color: #fff;
                    margin: 0;

                    &.finish-button {
                        position: fixed;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        text-indent: -9999px;
                        background: url(../img/end-bg.jpg) center center no-repeat transparent !important;
                        background-size: contain !important;
                        background-color: #fff !important;
                    }

                    &.start-button {
                        left: 0;
                        margin: 0 auto;
                        right: 0;
                        top: calc(50% - 150px);
                        position: fixed;
                        background-size: contain !important;
                    }


                    &.send-button {
                        background: url(../img/sent-button.png) center center no-repeat transparent !important;
                        top: -47px;
                        position: absolute;
                        opacity: 1 !important;
                        height: 49px;
                        width: 107px;
                        right: 0;
                        margin: 0 auto;
                        background-size: contain !important;
                        left: -170px;
                    }
                }
            }

            .wizard-footer-left {
                button {
                    background: url(../img/back-button.png) center center no-repeat transparent !important;
                    background-size: contain !important;
                    border: 0 !important;
                    width: 100%;
                    height: 80px;
                    text-align: right;
                    padding-right: 15px;
                    color: #fff;
                }
            }


            .info-msg {
                position: absolute;
                color: #fff;
                font-family: 'NiveaLight';
                font-size: 16px;
                left: 300px;
                top: 44px;
                width: 500px;
                display: none;
            }
        }

        .checkbox {
            display: block;
            float: left;
            margin: 0;
            padding-top: 0px;

            p {
                text-align: center;
                color: #fff;
                font-size: 18px;
                line-height: 28px;
                position: absolute;
                left: 50px;
                word-wrap: none;
                transform: none;
                top: 12px;
                white-space: nowrap;
            }

            input {
                display: none;
            }


        }

        .screen-1 {
            width: 100%;
            height: 100%;
            text-indent: -9999px;


            .legal {
                left: 20px;
                top: 50px;
                .slogan{
                    font-size: 30px;
                }
                .agreement {
                    position: fixed;
                    bottom: 10px;
                    left: 20px;

                    .legal-text {
                        font-size: 12px;
                    }
                    

                    .asterix {
                        padding-top: 0;
                        text-align: left;
                        padding-left: 40px;
                    }

                    .checkbox {
                        padding-top: 0;
                    }
                }
            }

        }

        .screen-cnt {
            max-width: initial !important;
            width: 100% !important;
            padding: 5%;
            overflow-x: hidden;
            overflow-y: auto;
            height: 80vh;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            padding-bottom: 0px;
            margin-top:20px;

            &::-webkit-scrollbar {
                display: none; // Safari and Chrome
            }

            &.top {
                margin-top: -100px;
            }

            .question {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 20px;
                height: auto;
                box-shadow: none;
                background-color: #fff;


                .label {
                    width: 100%;
                    padding: 10px;
                    justify-content: center;

                    br {
                        display: none;
                    }
                }

                &.with-slider {
                    max-width: 100%;
                    .label {
                        max-width: 200px;
                        justify-content: flex-start;

                        br {
                            display: inline-block;
                        }
                    }
                }

                .answers {
                    width: 100%;
                    display: flex;
                    vertical-align: middle;
                    text-align: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding-bottom: 10px;

                }

                &.mobilerow {
                    .answers {
                        flex-direction: row;

                        .checkbox {
                            width: 45%;
                        }
                    }
                }

                .checkbox {
                    width: 100%;
                    text-align: left;

                    label {
                        width: 100% !important;
                        padding:10px 10px;
                        font-size: 14px;
                        text-align: center;
                        left: 0;
                        margin: 10px 0;
                        height: auto;
                    }
                }

            }

            &.products-cnt {
                padding:0;
                width: 80% !important;
                margin: 0 auto !important;
                height: 90vh;
                margin-top: 20px !important;

                .title {
                    font-size: 20px;
                    line-height: 1;
                    margin-bottom: 20px;
                }

                .content {
                    margin: 0 !important;
                    overflow: auto;
                    height: 62vh;
                    padding:0;
               

                    .products {
                        flex-direction: column;
                        width: calc(100% - 10px);
                        margin: 0 auto;
                        align-items: center;
                        padding: 30px 0;
                        height:auto;
                        
                        .product{
                            padding-top: 80px;
                            padding-bottom: 80px;
                        }

                        p{
                            font-size: 16px;
                            max-width: 240px;
                        }

                        img {
                            max-width: 230px;
                            object-fit: contain;
                            max-height: 230px;
                        }

                        .btn-buynow-cnt a {
                            right: 0px;
                        }
                    }
                }
            }
        }
    }

    .user-details-cnt {
        margin: 20px auto !important;
        padding:0 10% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title{
            font-size: 20px;
            line-height: 1;
            margin-bottom: 20px;
        }
        .user-details {
            padding: 20px 20px 60px;
            background-color: #fff;
            border-radius: 300px;
            min-height: 460px;
            -webkit-box-shadow: 0 0 10px -1px #cdcdcc;
            box-shadow: 0 0 10px -1px #cdcdcc;
            min-height: auto;
            .text-input{
                label{
                    text-align: center;
                }
            
            input{
               min-width: auto !important;
               width:85%;
               font-size:14px;
            }
        }
        .legal{
            font-size: 12px;
            line-height: 1.2;
        }
        }
    }
}

.landspace {
    display: none;
}

@media only screen and (min-width: 400px) and (max-width: 850px) and (orientation: landscape) {
    html:not(.keyboard) {
        .landspace {
            display: block;
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 60%;
            color: #24418b;
            transform: translate(-50%, -50%);
            height: auto;
            text-align: center;
            font-size: 20px;
            font-family: 'NiveaBold';
            letter-spacing: 1px;
        }

        #ebeauty:not(.keyboard) {
            display: none;
        }
    }

}